*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* font-size: 28px; */
}

/* Declaración de variables CSS */
:root {
    --text-color: black;
    --bg-color-primary: blanchedalmond;
    --bg-color-menu: blueviolet;
    --transition-time: 0.3s;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 100%;
    height: auto;
    vertical-align: middle;
}

header,
nav,
main,
footer {
    padding: 1.2rem;
}

h1 {
    font-size: 3rem;
}

header {
    background-color: blueviolet;
    color: aliceblue;
    text-align: center;
}

header p {
    color: red;
    font-size: 1.5rem;
}

nav {
    background-color: blanchedalmond;
}

nav > .menu_pr {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

nav > .menu_pr a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  padding: 0.4rem 0.8rem;
  border-radius: 8px;
  transition: var(--transition-time);
}

/* Selector para hover sobre las opciones del menú */
nav > .menu_pr a:hover {
    background-color: var(--text-color);
    color: var(--bg-color-primary);
}